<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Автотранспортное предприятие</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'order_list' %}">Транспортная компания</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'order_list' %}">Заказы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'statistics' %}">Статистика</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/">Админ-панель</a>
                    </li>
                </ul>
                <a href="{% url 'order_create' %}" class="btn btn-success">Создать заказ</a>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>